* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #87c7f4;
  text-align: center;
  padding: 4px;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.app {
  background: url(../src/images/sea.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: aliceblue;
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}
