* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #87c7f4;
  text-align: center;
  padding: 4px;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.app {
  background: url(../src/images/sea.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
